* { margin: 0; padding: 0; border: 0; box-sizing: border-box;}
button {
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-form {
    margin-top: 60px;
}
